<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-head">
                    <p class="display-6">&nbsp; Review #5656</p>
                </div>
                <div class="card-body">
                    <strong>Website Title : </strong> &nbsp; Google Home Page
                    <br>
                    <strong>Website Link : </strong> &nbsp; https://www.google.com/  <button class="btn btn-sm btn-secondary">Visit Website</button>
                    <br>
                    <br>
                    <label for="reportLabel">Select your review</label>
                    <select class="form-select" id="reportLabel">
                        <option>Inappropriate</option>
                        <option>Appropriate</option>
                        <option>Unable to determine</option>
                    </select>
                    <br>
                    <label for="reason">Reason</label>
                    <textarea class="form-control" id="reason" cols="30" rows="5"></textarea>
                    <br>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Submit review" class="btn btn-lg btn-primary">
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>