.List {
    align-items: center;
}
.articles {
    padding: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    background-color: ghostwhite;
}
.articles .Link{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.articles h2{
    color: black;
}

.articles h3{
    margin-left: 16px;
    color: black;
}
.articles button{
    margin-left: 16px;
    color: black;
    box-shadow: 0px, 0px, 0px;
    background-color: ghostwhite;
}