.Navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.Navbar .Link {
    margin-left: auto;
}

h1 {
    color: black;
}

a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
}

a:hover {
    color: black;
}