<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h4>75</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        New links reported
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h4>200</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        Links flagged inappropriate
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h4>10</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        Active reviewers
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h4>82 %</h4>
                    </div>
                    <div class="d-flex justify-content-center">
                        Average Reviewer TrustScore
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">

    <table class="table table=hover">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Url</th>
                <th>Report Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of results">

                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.url}}</td>
                <td>{{item.marked}}</td>
                <td><input type='button' class="btn btn-sm btn-primary" (click)="review(item)" value="Review"></td>

            </tr>

        </tbody>

    </table>
</div>