.dashMain{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trustscore{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.right{
    width: 100%;
    padding: 30px;
}

.title{
    text-align: center;
}